.commTable {border-top:1px solid #eaeaea; }
.commTable td{ border-bottom:1px solid #eaeaea; padding:4px 6px;}
.btn{cursor:pointer}
.memberContentWrapper{ margin:0px auto; width:996px; height:auto;  text-align:left;}
.userInfoWrap{padding-top:10px;}
.userProfileContainer{margin-left:130px; height:115px; padding-top:16px; width:530px; background-color:#EFEFEF; }
.userPhotoFrame{width:70px; height:70px; float:left; margin-left:12px;}
.userPhotoFrame{width:70px; height:70px; }
.userProfileDescribe{width:410px; float:right; padding-right:15px;}
.userTitleSection{font-size:18px; line-height:30px;}
.userTitleSection .name{padding-left:12px;}
.userTitleSection .snsEntLink{float:right;}
.userProfileDescribe .scoreWrap{margin-top:20px; }
.userProfileDescribe .scoreWrap{font-size:14px;}
.userProfileDescribe .scoreWrap a{color:#9d9e9e; font-size:12px; padding-left:12px;}
.userProfileDescribe .userProfileNav{margin-top:8px;}
.userProfileDescribe .userProfileNav a{padding-right:30px; color:#8C8C8C; font-size:12px;}
.userProfileDescribe .userProfileNav a.current{ color:#FD2323; }

.userInfoDetailContainer{color:#4C4C4C;   height:auto; font-size:12px; padding-top:12px;}


.userInfoMain{width:350px; float:left; margin-left:130px;}
.userInfoMain .userPhotoSelector{width:350px; height:125px;  }
.userInfoMain .userPhotoSelector span{display:block; float:left;}
.userInfoMain .userPhotoSelector .tit{line-height:25px; width:65px;}
.userInfoMain .userPhotoSelector .photo{width:85px;}
.userInfoMain .userPhotoSelector .control{width:175px; line-height:18px; float:left;}
.userInfoListing li{font-size:12px;  margin-bottom:5px;  width:245px; height:24px; line-height:24px;  background-color:#EFEFEF; position:relative; }
.userInfoListing  li span{display:block;  float:left;}
.userInfoListing  li span.tit{padding-left:10px; width:75px; text-align:left;}
.userInfoListing  li span.infoEditor{width:130px;}
.userInfoListing  li span.infoEditor .inp{width:130px; height:18px; line-height:18px; border:none; margin-top:2px;  background-color:transparent; font-size:12px;}
.userInfoListing  li.desp .inp{overflow:hidden; height:50px; border:none;}
.userInfoListing  li span.change{width:30px; text-align:center;}
.userInfoListing  li span.change input{width:30px; border:none; cursor:pointer; height:18px; line-height:18px; border:none; font-size:12px; background:transparent; color:#c9caca; margin-top:2px;}
.userInfoListing  li span.hide{width:50px; position:absolute; right:-65px; color:#c9caca; line-height:24px;}

.userInfoSide{width:300px;  float:left;  }
.userInfoListing  li.desp{height:70px;}
.userInfoListing  li.desp span.infoEditor .inp{height:50px; vertical-align:top; line-height:20px;}

.userInfoDisplay .userInfoListing li{border:none;}
 
ul.MenberEditTitle{font-size:14px; padding-top:15px;  padding-left:130px; height:25px; clear:both; overflow:hidden; border-bottom:1px solid #DDDDDD;}
ul.MenberEditTitle li{ font-weight:bold; float:left; line-height:25px; padding-right:25px;}

ul.MenberEditTitle li.current a{color:#FF1212; }
ul.MenberEditTitle  a:hover{ color:#FF1212;}

.memberTabs{font-size:14px; padding-top:15px;  padding-left:130px; height:25px; border-bottom:1px solid #DDDDDD;}
.memberTabs li{font-weight:bold; float:left; line-height:25px; padding-right:20px; font-weight:normal;}
.memberTabs li a{line-height:25px; padding:0 6px;}
.memberTabs li.current a{ color:#FF1212; border-bottom:2px solid #FF1212; font-weight:bold; position:relative; bottom:0px; padding-bottom:2px; }
.memberTabs li a:hover{ color:#FF1212;}
.userTitle{padding-left:130px; padding-top:20px; border-bottom:1px solid #DDDDDD;}
.userTitle h2{font-size:14px; line-height:24px; padding-bottom:4px;}
.userConWrap{padding-top:12px; padding-left:130px;}
.userConWrap h3{font-size:14px; margin-bottom:6px;}
.userConWrap ol, .userConWrap li{list-style:none; padding-left:2px; margin-left:0px;}
.userConWrap li {margin-bottom:8px; padding-bottom:5px; border-bottom:1px dashed #ccc;}
.userConWrap li h3{margin-bottom:0px; font-size:14px;}
.userConWrap li .date{color:#999;}


.MenberEdit{ padding-left:130px; padding-top:15px; width:850px; height:auto; clear:both; overflow:hidden;}
.MenberEdit .lefts{ width:350px; float:left; overflow:hidden;}
.MenberEdit .Rights{ padding-left:10px; width:400px; float:left; overflow:hidden;}


ul.MenberEditBian li a{ color:#BBBDC0;}
ul.MenberEditBian li a:hover{ color:#C7000D;}
.accountBinding {padding-top:15px; padding-bottom:100px; width:850px; padding-left:130px;  }
.accountBinding li{background-color:#ffffff; width:300px;}
.accountBinding li .change input{width:120px; background:red;}
.accountBinding .userInfoListing  li span.change input{width:90px;  }

 

.courseList .date{width:20%}
.courseList .tit{width:40%}
.courseList .payInfo{width:20%}
.courseList .status{width:20%} 
.scoresList .date{width:20%}
.scoresList .tit{width:40%}
.scoresList .payInfo{width:20%}
.scoresList .status{width:20%} 

.memberWrap{ width:530px; padding-bottom:25px; padding-left:130px;　padding-top:22px;}

ul.memberMessList{ font-family:微软雅黑;  padding-bottom:15px; padding-top:15px; border-bottom:1px dashed #DDDDDD; width:530px; height:auto; clear:both; overflow:hidden;}
ul.memberMessList li{ float:left; height:auto;}
ul.memberMessList li{padding-left:80px;}
ul.memberMessList li.TT1{ width:80px; text-align:center; }
ul.memberMessList li.TT1 img{ width:39px; height:39px;}
ul.memberMessList li.TT2{ width:450px; }
ul.memberMessList li.TT2 p.PP1{width:450px; height:25px; line-height:25px; clear:both; overflow:hidden; color:#898989;}
ul.memberMessList li.TT2 p.PP1 span{ color:#343434; padding-right:7px;}
ul.memberMessList li.TT2 p.PP2{ line-height:20px; color:#343434; font-size:14px; float:left; width:380px; }
ul.memberMessList li.TT2 p.PP3{ line-height:20px; float:left; width:70px; text-align:right;}
ul.memberMessList li.TT2 p.PP3 a{color:#898989; padding-left:10px;}
ul.memberMessList li.TT2 p.PP3 a:hover{ color:#C7000D;}



.msgBoard{width:530px;}
.msgBoard textarea{line-height:20px; width:528px; height:78px; border:1px solid #B3B3B3;}
.msgBoard .ctrl{color:#343434;  font-size:15px; height:30px;  text-align:right;}
.msgBoard .ctrl input{ margin:0px; padding:0px; border:0px; border-style:none; background:none; font-size:15px; margin-top:7px;}

ul.PaymentInfo{ color:#424242; font-family:微软雅黑; padding-left:315px; width:305px; height:auto; clear:both; overflow:hidden;}
ul.PaymentInfo li.TT1{ height:50px; clear:both; overflow:hidden; }
ul.PaymentInfo li.TT1 p{ float:left; font-size:18px; height:50px; line-height:50px; padding-right:30px;}
ul.PaymentInfo li.TT2{  padding-top:10px;border-top:1px solid #E77575; font-size:14px;width:305px; height:auto; clear:both; overflow:hidden;}
ul.PaymentInfo li.TT2 p{ float:left; margin-bottom:10px; }
ul.PaymentInfo li.TT2 p.PP1{ background-color:#E6E6E6; padding-left:10px; width:75px; height:60px; padding-top:10px; line-height:20px;}
ul.PaymentInfo li.TT2 p.PP2{ float:right; background-color:#E6E6E6; padding-left:10px; width:200px; height:60px; padding-top:10px;line-height:20px;}
ul.PaymentInfo li.TT2 p.PP3{ background-color:#E6E6E6; padding-left:10px; width:75px; height:25px; line-height:25px;}
ul.PaymentInfo li.TT2 p.PP4{ float:right; background-color:#E6E6E6; padding-left:10px; width:200px; height:25px; line-height:25px;}
ul.PaymentInfo li.TT3{ padding-top:12px;border-top:1px solid #E77575; padding-bottom:15px; padding-top:10px; width:305px; height:auto; clear:both; overflow:hidden;}
ul.PaymentInfo li.TT3 p{ float:left;}
ul.PaymentInfo li.TT3 p.PP1{ width:25px; }
ul.PaymentInfo li.TT3 p.PP1 input{ width:25px; height:25px; margin:0px; padding:0px; }
ul.PaymentInfo li.TT3 p.PP2{ font-size:18px; width:100px;} 
ul.PaymentInfo li.TT3 p.PP2 input{ border:0px; border-style:none; background:none; font-size:18px;  margin:0px; padding:0px; margin-top:3px; }
ul.PaymentInfo li.TT3 p.PP3{ color:#818181; float:right; line-height:20px; text-align:right;}
ul.PaymentInfo li.TT3 p.PP3 span.SP1{display:block;  padding-bottom:6px;  color:#818181; font-size:18px;} 
ul.PaymentInfo li.TT3 p.PP3 input{ border:0px; border-style:none; background:none; font-size:18px;  margin:0px; padding:0px; }

ul.PaymentInfo2{ color:#424242; font-family:微软雅黑; padding-left:290px; width:330px; height:auto; clear:both; overflow:hidden;}
ul.PaymentInfo2 a{color:#ffffff;}
ul.PaymentInfo2 li.TT1{ margin-left:25px; height:50px; clear:both; overflow:hidden; }
ul.PaymentInfo2 li.TT1 p{ float:left; font-size:18px; height:50px; line-height:50px; }
ul.PaymentInfo2 li.TT2{ margin-left:25px;width:305px; height:auto; padding-bottom:5px; clear:both; overflow:hidden;border-bottom:1px solid #E77575; }
ul.PaymentInfo2 li.TT2 p{ float:left;}
ul.PaymentInfo2 li.TT2 p.PP1{ width:28px; }
ul.PaymentInfo2 li.TT2 p.PP1 input{ width:25px; height:25px; margin:0px; padding:0px; }
ul.PaymentInfo2 li.TT2 p.PP2{ font-size:18px; width:100px;} 
ul.PaymentInfo2 li.TT3{ margin-left:25px;width:305px; height:auto; clear:both; overflow:hidden; }
ul.PaymentInfo2 li.TT3 p{ margin-top:10px; font-size:14px; margin-right:8px; float:left; height:27px; line-height:27px;}
ul.PaymentInfo2 li.TT3 p.PP1{ color:#343434; background-color:#EFEFEF; padding-left:10px; width:75px;}
ul.PaymentInfo2 li.TT3 p.PP2{ color:#343434; background-color:#EFEFEF; padding-left:10px; width:75px;}
ul.PaymentInfo2 li.TT3 p.PP3{ font-size:18px; background-color:#E60C13; color:White; padding-left:10px; width:100px;}
ul.PaymentInfo2 li.TT3 p.PP4{ font-size:12px; clear:both; margin:0px; padding:0px; padding-bottom:6px; color:#929292;  height:20px; line-height:20px; padding-left:187px; width:123px; text-align:left;
                              border-bottom:1px solid #E77575;}
ul.PaymentInfo2 li.TT4{ margin-top:15px; width:330px; height:40px; clear:both; overflow:hidden; background:url(../images/Dixian.jpg) right bottom no-repeat;}
ul.PaymentInfo2 li.TT4 p{ float:left; height:40px; line-height:40px;}
ul.PaymentInfo2 li.TT4 p.PP1{ font-size:18px; width:25px;}
ul.PaymentInfo2 li.TT4 p.PP2{ width:28px; }
ul.PaymentInfo2 li.TT4 p.PP2 input{ width:25px; height:40px; margin:0px; padding:0px; }
ul.PaymentInfo2 li.TT4 p.PP3{ font-size:18px; } 
ul.PaymentInfo2 li.TT5{ margin-left:25px;width:305px; height:auto; clear:both; overflow:hidden; }
ul.PaymentInfo2 li.TT5 p{ margin-top:10px; font-size:14px; margin-right:8px; float:left; height:27px; line-height:27px;}
ul.PaymentInfo2 li.TT5 p.PP1{ color:#343434; background-color:#EFEFEF; padding-left:10px; width:75px;}
ul.PaymentInfo2 li.TT5 p.PP2{ color:#343434; background-color:#EFEFEF; padding-left:10px; width:75px;}
ul.PaymentInfo2 li.TT5 p.PP3{ font-size:18px; background-color:#808080; color:White; padding-left:10px; width:100px;}
ul.PaymentInfo2 li.TT5 p.PP4{ font-size:12px; clear:both; margin:0px; padding:0px; color:#929292;  height:20px; line-height:20px; padding-left:187px; width:123px; text-align:left;
                             }
ul.PaymentInfo2 li.TT5 p.PP5{margin-left:25px; overflow:hidden; clear:both; margin:0px; padding:0px;  height:8px;  width:305px; text-align:left;
                            border-bottom:2px solid #9A9A9A; }

ul.MenberLoginWrite{font-family:微软雅黑; width:670px; padding-left:330px; height:auto; clear:both; overflow:hidden;}
ul.MenberLoginWrite li.TT1{ float:left; margin-bottom:5px; width:250px; height:25px; background-color:#EFEFEF;  overflow:hidden;}
ul.MenberLoginWrite li.TT1 p{ float:left; height:25px;}
ul.MenberLoginWrite li.TT1 p.PP1{ padding-left:8px; width:78px; line-height:25px;}
ul.MenberLoginWrite li.TT1 p.PP2{ width:157px; padding-right:3px; float:right;}
ul.MenberLoginWrite li.TT1 p.PP2 input{ width:155px; height:18px; line-height:18px; margin:0px; padding:0px; border:1px solid #DDDDDD; margin-top:2px;}
ul.MenberLoginWrite li.TT2{ clear:both; padding-left:90px; padding-top:15px;  clear:both; overflow:hidden;}
ul.MenberLoginWrite li.TT3{ clear:both; height:35px; text-align:center; line-height:35px; width:250px;  clear:both; overflow:hidden;}
ul.MenberLoginWrite li.TT3 a{color:#58585A; }
ul.MenberLoginWrite li.TT3 a:hover{ color:#C7000D;}
ul.MenberLoginWrite li.TT4{ clear:both; height:35px;  line-height:35px; width:670px;  clear:both; overflow:hidden;}
ul.MenberLoginWrite li.TT5{ padding-left:20px; float:left; margin-bottom:5px; width:400px; height:25px; line-height:25px; overflow:hidden;}
ul.MenberLoginWrite li.TT6{ float:left; margin-bottom:5px; width:250px; height:65px; background-color:#EFEFEF;  overflow:hidden;}
ul.MenberLoginWrite li.TT6 p{ float:left; height:65px;}
ul.MenberLoginWrite li.TT6 p.PP1{ padding-left:8px; width:78px; line-height:65px;}
ul.MenberLoginWrite li.TT6 p.PP2{ width:157px; padding-right:3px; float:right;}
ul.MenberLoginWrite li.TT6 p.PP2 textarea{ width:155px; height:58px; line-height:18px; margin:0px; padding:0px; border:1px solid #DDDDDD; margin-top:2px;}
ul.MenberLoginWrite li.TT7{ padding-left:20px; float:left; margin-bottom:5px; width:400px; height:65px; line-height:25px; overflow:hidden;}






.MenberLoginWText{ line-height:20px; color:#424242; font-family:微软雅黑; width:670px; padding-left:330px; height:auto;  padding-top:15px; padding-bottom:15px; border-bottom:2px solid #DDDDDD; border-top:2px solid #DDDDDD;}
.MenberLoginWText span{ color:#C7000D;}




.memberWrap .commentListing ul{margin:0px; padding-top:12px; }
.memberWrap .commentListing li{padding-bottom:12px; border-bottom:1px dashed #dfdfdf; padding-top:12px; padding-left:60px; padding-right:100px;}
.memberWrap .commentListing .userPhoto{ width:40px; text-align:center; float:left; margin-left:-60px;}
.memberWrap .commentListing .comment{  }
.memberWrap .commentListing .comment .userInfo{ color:#808080; }
.memberWrap .commentListing .comment .userInfo span{ color:#222222; padding-right:4px;}
.memberWrap .commentListing .comment .con{ font-size:14px; color:#424242;   line-height:24px; }
.memberWrap .commentListing .comment .ctrl{float:right; margin-right:-100px; margin-top:-24px; _width:100px;}
.memberWrap .commentListing .comment .ctrl a{padding:0 8px; color:#666666;}
.memberWrap .commentListing .comment .ctrl .tick{color:green;}
/*找密码*/
 
.head{height:45px;} 
.head h1{height:45px; line-height:40px;  display:block;   padding:0 25px;  font-size:20px;  font-weight:bold; border-bottom:2px solid #0e4ca4;}

.getPwdFlow{width:420px; margin-top:14px; margin-right:12px;}
.getPwdFlow li{background:url(../images/flow_bg.png) no-repeat 2px -40px; float:left; _display:inline; margin-left:20px; padding-left:12px; height:28px; line-height:23px; color:#6A6A6A; font-size:14px;}
.getPwdFlow li span{padding-right:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; line-height:25px;}
.getPwdFlow li.focus{background:url(../images/flow_bg.png) no-repeat 2px 0; color:#c7000d;}
.getPwdFlow li.focus span{color:#fff;}
.memberContentWrapper .conWrap{padding:40px 0;}


