<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="style/global.css" rel="stylesheet" type="text/css" />
    <link href="style/component.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<div class="wrapper">
 <div class="logo"><a href="index.htm"><img src="images/Logo.png" /> </a> <img src="images/slogan.png" class="slogan"/>
 </div>
 <ul class="globalNav">
  <li><a href="course.htm">创业课程</a></li>
  <li><a href="ask-list.htm">有问必答</a></li>
  <li><a href="experience-list.htm">经验专栏</a></li>

 
 </ul>
 <div class="searchBar">
     <p class="searchType" onclick="OnClickDownMuen()">
     <label id="DownText">课程</label> 
   </p>
   <p class="keyword"><input type="text" /></p>
   <p class="btnSearch"><input name="" type="image" src="images/Seach.png" /></p> 
   
   <div class="dropdown" id="MuenNavDown" style=" display:none">
   <p class="dropMenu" onclick="OnClickDownMuenText('课程')"><a href="#">课程</a></p>
   <p class="dropMenu" onclick="OnClickDownMuenText('问题')"><a href="#">问题</a></p>
   <p class="dropMenu" onclick="OnClickDownMuenText('专栏')"><a href="#">专栏</a></p>
  </div>
 </div>
 <script type="text/javascript">
     function OnClickDownMuen() {
         if (document.getElementById("MuenNavDown").style.display == "none") {
             document.getElementById("MuenNavDown").style.display = ""
         }
         else {
             document.getElementById("MuenNavDown").style.display = "none"
         }
     }
     function OnClickDownMuenText(Tages) {
         document.getElementById("DownText").innerHTML = Tages;
         document.getElementById("MuenNavDown").style.display = "none"
     }
 </script>
 </div>
</div>

<div class="InTitle"><h1>搜索结果</h1></div>
<div class="IndexContent" id="contentWrapper">
 <div class="mainPanel">
  <div class="searchTabs">
   <a href="search_course.html" >课程</a><a href="search-question.htm" class="current">问题</a><a href="search-experience.htm">专栏</a></div>
  <div class="searchResult">
    <ul class="questListing">
       <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>   
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>   
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>   
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>
     <li>
    <h3><a href="answer-detail.htm">在三线城市开个淘宝摄影室如何？</a></h3>
    <p class="intro">
     <a href="#"><span>金铭</span></a> 发布于 2012-08-14 12:38:30  分类：<span>项目分析</span>  标签：<span>淘宝  三线城市</span>   评论 (0)     
    </p> 
    <p class="voteCtrl">
     <span class="v1"><a href="#">同感受 (0)</a></span>
   </p>
   </li>      
  </ul>
  <div class="Pages">
  <a href="#">首页</a>
  <a href="#">上一页</a>
   <a href="#">1</a>
   <a href="#">2</a>
   <a href="#">3</a>
   <a href="#">4</a>
   <a href="#">5</a>
   <a href="#">6</a>
   ...
   <a href="#">12</a>
   <a href="#">下一页</a>
   <a href="#">尾页</a>
  </div>
  </div>
 </div>
 <div class="sideBar"> 
  <ul class="CourseLogin block"  id="MenberLogins">
   <li class="TT1">用户名</li><li class="TT2"><input type="text" /></li>
   <li class="TT1">密&nbsp;&nbsp;&nbsp;&nbsp;码</li><li class="TT2"><input type="text" /></li>
   <li class="TT3">
    <a href="javascript:OnClickLogin()">登录  </a>   
    <a href="#">马上注册</a>     
    <a href="#">忘记密码？</a>
   </li>
   <li class="TT4">
    <p class="PP1">社交工具登录</p>
    <p class="PP2">
     <a href="#"><img src="images/G1.png" /></a>
     <a href="#"><img src="images/G2.png" /></a>
    </p> 
   </li>
  </ul>
  <script type="text/javascript">
      function OnClickLogin() {
          document.getElementById("MenberInfos").style.display = "";
          document.getElementById("MenberLogins").style.display = "none";
      }
  </script>
 <div class="CourseLoginInfo block" id="MenberInfos" style=" display:none">
  <div class="Lefts"><a href="#"><img src="Images/Tou.png" /></a></div>
  <div class="Rights"> 
   <ul class="CourseLoginInfoText">
    <li class="TT1">
     <p class="PP1"><span>高级会员</span> 袁荣</p> 
    </li>
    <li class="TT3">
      <a href="#"><img src="Images/TT1.png" /></a>
      <a href="#"><img src="Images/TT2.png" /></a>
    </li>
    <li class="TT2">积分:500<br/><a href="#">查看积分规则</a></li>  
   </ul>
  </div>
  <div class="Centers">
   <a href="#">我的资料</a>
     <a href="#">我的积分</a>
     <a href="#">我的主页</a>
     <a href="#">消息(1)</a>
  </div>
 </div>
 <div id="sideCurseRecommModule">
 <h2>推荐课程</h2>
  <ul class="courseListing">
   <li>
    <div class="courseCover"><a href="#"><a href="#"><img src="images/course_cover_thumb.jpg" /></a></div>
    <div class="intro">
    <span class="isFree">免费</span> <h3><a href="#">创业公开课：生意的本质</a></h3>     
    </div>
    <div class="voteCtrl"><a href="#">有启发(2)</a></div>
    </li>
    <li >
    <div class="courseCover"><a href="#"><img src="images/course_cover_thumb.jpg" /></a></div>
    <div class="intro">
    <span class="isFree">免费</span> <h3><a href="#">创业公开课：生意的本质</a></h3>
     
    </div>
    <div class="voteCtrl"><a href="#">有启发(2)</a></div>
   </li>
  </ul>
 </div>
  <div class="experienceModule block">
  <h2><a href="index.htm">经验专栏</a></h2>
   <ul class="experienceListing">
   <li><a href="experience-detail.htm">做SEO的技巧......</a></li>
   <li><a href="experience-detail.htm">做SEO的技巧......</a></li>
   <li><a href="experience-detail.htm">做SEO的技巧......</a></li>
   <li><a href="experience-detail.htm">做SEO的技巧......</a></li>
   <li><a href="experience-detail.htm">做SEO的技巧......</a></li>
  </ul>
 </div>
  <div class="adBlock block">
    <a href="#"><img src="images/GImages.png" /></a>
  </div> 
 </div>
</div>

 

<div id="footer">
 <div class="wrapper">
 
  <p class="botNav">
   <a href="#">关于智选</a><a href="#">使用帮助</a><a href="#">意见反馈</a><a href="#">加入我们</a>
  </p>
  <p class="copyright">沪ICP备11022737</p>

</div>
</div>




</body>
</html>
